<div class="row">
    <nav>
    <ul class="unordered">
        <li class="left">
            <h1>
                <a href="/"><%= image_tag('expressOH_Logo_SMALL.png') %></a>
            </h1>
        </li>
        <li class="right">
            <a href="#" id="gear_nav">
                <i class="fa fa-cog"></i>
            </a>
        </li>
    </ul>
    </nav>
</div>