<section class="row">
    <div class="small-centered small-12 large-8 columns">
        <h3>Let's get going</h3>
        <p>
            Thank you for signing up for a shot of expressOH.
        </p>
        <%= render 'form' %>
    </div>
</section>
