
<section class="row">
    <div class="small-centered small-12 large-8 columns">
        <h3>Rating <%= @user.username %></h3>
        <%= simple_form_for @user do |f| %>
        	<%= f.input :total_rating, collection: 1..5, label: 'How was your experience out of 5?' %>
        	<%= f.submit "Rate", class: 'button primary' %>
        <% end %>
    </div>
</section>