<h3>Welcome to expressOH!, username </h3>

<%= button_to "Request an Order", "#", class: 'button', id: 'request_button' %>
<%= button_to "Claim an Order", "#", class: 'button', id: 'claim_button' %>
<div class="requests"></div>



<div class="deliveries"></div>