
@import "shared_variables";

// =====================================================
// Styling for shared elements on multiple pages
// =====================================================

.row {
    margin: 0;
    max-width: 100%;
}

ul.unordered {
    list-style: none;
    margin: 0;
}
ul.lined {
    border-top: 1px solid $cream;
}
ul.lined li {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid $granite;
}

ul.inline { 
    display: inline; 
    margin: 0;
}
ul.inline li, ul.inline li:first-child {
    border: none;
    display: inline;
    list-style: none;
    margin: 0;
}

.hidden {
    display: none;
}

.pink {
    color: $pink;
}

body {
    color: $chocolate;
    font-family: helvetica, sans-serif;
}

section {
    padding: 15px;
}

h2 {
    letter-spacing: 1px;
    color: white;
    font-family: ChapparalPro-Regular;
    font-weight: 600;
}

h3 {
    letter-spacing: 1px;
    font-family: ChapparalPro-Regular;
    color: $mud;
}

h4 {
    font-family: ChapparalPro-Regular;
    font-weight: 600;
    color: $mud;
}

h5 {
    color: $chocolate;
    font-weight: 200;
}

// =====================================================
// BUTTON STYLES
// =====================================================

.button {
    transition: background-color 0.3s ease;
    padding: 0.5rem;
    color: white;
    border: none;
}
.button:hover {
    color: $light-grey;
}

.primary {
    background-color: $pink;
    border-bottom: 3px solid $cranberry;
}
.primary:hover {
    background-color: $cranberry;
}

.button.secondary {
    color: white;
    background-color: $milk-coffee;
    border-bottom: 3px solid $mocha;
}
.button.secondary:hover {
    background-color: $mocha;
    color: $light-grey;
}

.tertiary {
    background-color: $mud;
    border-bottom: 3px solid $dark-chocolate;
}
.tertiary:hover {
    background-color: $dark-chocolate;
}

// =====================================================
// NAV + LOGO 
// =====================================================

h1 {
    margin: 0;
    font-size:1.5em;
    width: 80%;
}
#nav_container {
    margin: 0;
    max-width: 100%;
}
nav {
    border-bottom: 3px solid $paper;
    padding: 12px;
}
nav:after {
    content:'';
    display:block;
    clear: both;
}
nav ul { margin: 0; }

#gear {
    color: $cream;
    padding: 0;
    font-size: 35px;
}
#gear_nav {
    position: absolute;
    background-color: white;
    right:0;
    margin: 10px;
    margin-top: 5px;
    margin-right: 12px;
    z-index: 100;
}
.arrow-up { // Triangle: https://css-tricks.com/snippets/css/css-triangle/
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 20px solid $paper;

    position: absolute;
    right: 5px;
    margin-top: -20px;
}
#gear_nav ul {
    margin:0;
    border: 3px solid $paper;
    border-bottom: 3px solid $cream;
}
#gear_nav li {
    padding: 10px;
    border-bottom: 1px solid $paper;
}
#gear_nav li:last-child { border-bottom: initial; }
#gear_nav li:hover{ background-color: $light-grey; }
#gear_nav a {  color: $pink; }
#gear_nav a:hover { color: $cranberry; }


// =====================================================
// FORMS
// =====================================================

.field_with_errors {
    background-color: $pale-pink;
}


// =====================================================
// FOOTER
// =====================================================

#footer {
    padding-top: 25px;
    background-color: $chocolate;
    min-height: 150px;
    text-align: center;
}

#footer a {
    color: $cream;
}






