// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared_variables";

#welcome {
    background-color: $light-grey;
}

#claim_button {
	background-color: $mud;
    border-bottom: 3px solid $dark-chocolate;
	width: 100%;
	display: block;
}

#request_button {
	margin-top: 25px;
	background-color: $pink;
    border-bottom: 3px solid $cranberry;
	width: 100%;
	display: block;	
}

#your_deliveries {
    background-color: $light-grey;
}

.bean-background {
	position: absolute;
	max-height: 300px;
}

.intro {
	position: relative;
	margin-top: 50px; 
	h2 {
		color: #FFFFFF;
		margin-left: 25px;
	}
	h3 {
		margin-left: 25px;
		color: #d19871;
	}
}