// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared_variables";


// =====================================================
// INTRODUCTION
// =====================================================


.bean-background {
    width: 100%;
    overflow: hidden;
    position: absolute;
    background-image: url("fadedbeans_med.jpg");
}

#welcome {
    background-color: $light-grey;
}

#rating {
    margin-top: 15px;
    color: $pink;
}

#login_button {
    background-color: $mud;
    border-bottom: 3px solid $dark-chocolate;
    width: 100%;
    display: block;
}
#login_button:hover {
    background-color: $dark-chocolate;
}

#request_button {
    margin-top: 25px;
    width: 100%;
    display: block;
}
#claim_button {
    width: 100%;
}

.intro {
    position: relative;
}
.intro section {
    padding: 25px;
}
.intro h2 {
    margin-top: 25px;
}
.intro h3 {
    color: $cream;
}


// =====================================================
// YOUR REQUESTS / DELIVERIES SECTION
// =====================================================


#your_deliveries {
    background-color: $light-grey;
}

#your_deliveries .button, #your_requests .button {
    margin: 0;
    margin-top: 7px;
    margin-bottom: 10px;
    margin-right: 5px;
    float: right;
    font-size: 12px;
}
#your_deliveries .button, #your_requests .button {
}
#your_deliveries .button:first-child, #your_requests .button:first-child {
    margin-right: 0;
}

div.request_actions:after { // Clear float of button contained inside form
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
}

#your_deliveries p, #your_requests p {
    margin: 0;
}
