// Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared_variables";


#menu input.check_boxes {
    float: right;
}

#menu  {
    background-color: $light-grey;
}

section#recent_requests {
    background-color: $light-grey;
    padding-top: 0;
    padding-bottom: 0;
}
#recent_requests .button {
    margin: 0;
}

#recent_requests li:after, #menu li:after { // Clear float
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
}

#recent_requests ul.inline li:after { 
    // Don't want to clear float for li elements inside of a nested ul
    content: initial;
}

.fa-check {
    font-size: 25px;
}


#menu li {
    padding: 10px;
}

.check_boxes.optional {
	margin-top: 15px;
    margin-bottom: 10px;
}


// TO FIX: Styling
// #menu label {
//     border-bottom: 1px solid red;
// }

// #menu label:last-child {
//     border-bottom: initial;
// }

// #menu:after { // Clear float
//     content: "."; 
//     visibility: hidden; 
//     display: block; 
//     height: 0; 
//     clear: both;
// }