
.row {
    max-width: 100%;
}




// Small tweaks to most CRUD pages to make more responsive



// Med/large
@media only screen and (min-width:30em) {

    section#welcome {
        text-align: center;
    }
    #request_button {
        display: inline-block;
        margin-top: 5px;
    }

    .button {
        max-width: 300px;
    }

    .bean-background {
        background-size: cover;
        height: 450px;
    }

    div.intro {
        height: 450px;
    }

}

// Small
@media only screen and (max-width:30em) {

    .bean-background {
        background-size: 600px;
        height: 400px;
    }

    div.intro {
        height: 400px;
    }

}