
.row {
    max-width: 100%;
}




// Small tweaks to most CRUD pages to make more responsive



// Med/large
@media only screen and (min-width:30em) {

    #menu .check_boxes.request_item_ids {
        max-width: 500px;
    }

    .bean-background {
        background-size: cover;
    }

}

// Small
@media only screen and (max-width:30em) {

    #menu .check_boxes.request_item_ids {
    }

    .bean-background {
        background-size: 600px;
    }

}