
// =====================================================
// Shared colors used throughout the app
// To use, add " @import "shared_variables"; " to top of file
// =====================================================

// Button color combos
$dark-chocolate: #281808;
$mud: #543b23;

$milk-coffee: #d19871;
$mocha: #a96435;

$pink: #ff3e55;
$cranberry: #c21127;

// ---------------

// Body text
$chocolate: #885423;

// Light grey hues
$light-grey: #fafafa;
$medium-grey: #d1d1d1;

// Used for thin lines
$cream: #ecd4c4;
$granite: #b9b9b9;

// Shadow for whites
$paper: #ebe5e2;
