// Place all the styles related to the Shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.choose-shop {
	h5 {
		display: inline;
		color: #ff3e55;
	}
	h6 {
		margin-top: -20px;
		margin-left: 105px;
		display: block;
		color: #885423;

	}
	.location {
		padding-top: 15px;
		padding-bottom: 10px;
		background-color: #fafafa;
		border-bottom: 1px #d1d1d1;
	}
}